@charset "utf-8";

// Define defaults for each variable.


 
// @font-face {
//   font-family: "Computer Modern";
//   src: url('http://spratt.github.io/Computer-Modern/cmserif.otf');
// }
// @font-face {
//   font-family: "Computer Modern";
//   src: url('http://spratt.github.io/Computer-Modern/cmunsx.otf');
//   font-weight: bold;
// }
// @font-face {
//   font-family: "Computer Modern";
//   src: url('http://spratt.github.io/Computer-Modern/cmunsi.otf');
//   font-style: italic, oblique;
// }
// @font-face {
//   font-family: "Computer Modern";
//   src: url('http://spratt.github.io/Computer-Modern/cmunbxo.otf');
//   font-weight: bold;
//   font-style: italic, oblique;
// }


$base-font-family: Helvetica, Arial, sans-serif;
$body-font-family: "Computer Modern Serif", Georgia, serif;

$base-font-size:   16px !default;
$body-font-size:   17px;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #000000 !default;
$background-color: #ffffff !default;
$brand-color:      #0033ff !default;

$grey-color:       #828282 !default;
$grey-color-light: #e0e0e0 !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/layout",
  // "minima/syntax-highlighting"
  "minima/syntax"

;


