/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }
 
 
 
 /**
  * Basic styling
  */
 body {
   font: $base-font-weight #{$body-font-size}/#{$base-line-height} $body-font-family;
   color: $text-color;
   background-color: $background-color;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
      -moz-font-feature-settings: "kern" 1;
        -o-font-feature-settings: "kern" 1;
           font-feature-settings: "kern" 1;
   font-kerning: normal;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 
 
 
 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
   margin-bottom: $spacing-unit / 2;
 }
 
 .alignright {
   float: right;
 }
 
 
 /**
  * `main` element
  */
 main {
   display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
 }
 
 
 
 /**
  * Images
  */
 img {
   max-width: 100%;
   vertical-align: middle;
 }
 
 
 
 
 
 
 /**
  * Figures
  */
 figure > img {
   display: block;
 }
 
 figcaption {
   font-size: $small-font-size;
 }
 
 
 
 /**
  * Lists
  */
 ul, ol {
   margin-left: 0.75*$spacing-unit;
   list-style-image: url('/img/bullet.png');
 }
 
 li {
   line-height: 1.75;
   // > ul,
   // > ol {
   //   margin-bottom: 0;
   // }
 }
 
 
 
 /**
  * Headings
  */
 h1, h2, h3, h4, h5, h6 {
   font:  $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
   font-weight: $base-font-weight;
 }
 
 
 
 /**
  * Links
  */
 a {
   color: $brand-color;
   text-decoration: none;
 
   &:visited {
     color: darken($brand-color, 15%);
   }
 
   &:hover {
     color: $text-color;
     text-decoration: underline;
   }
 
   .social-media-list &:hover {
     text-decoration: none;
 
     .username {
       text-decoration: underline;
     }
   }
 }
 
 
 /**
  * Blockquotes
  */
 blockquote {
   color: $grey-color;
   border-left: 4px solid $grey-color-light;
   padding-left: $spacing-unit / 2;
   @include relative-font-size(1.125);
   letter-spacing: -1px;
   font-style: italic;
 
   > :last-child {
     margin-bottom: 0;
   }
 }
 
 
 
 /**
  * Code formatting
  */
 pre,
 code {
   @include relative-font-size(0.875);
   border: 0px solid $grey-color-light;
   border-radius: 10px;
   // background-color: $grey-color-light;
   background-color: #202020;
 }
 
 code {
   padding: 1px 5px;
 }
 
 pre {
   padding: 8px 12px;
   overflow-x: auto;
 
   > code {
     border: 0;
     padding-right: 0;
     padding-left: 0;
   }
 }
 
 
 
 /**
  * Wrapper
  */
 .wrapper {
   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
   max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
   margin-right: auto;
   margin-left: auto;
   padding-right: $spacing-unit;
   padding-left: $spacing-unit;
   @extend %clearfix;
 
   @include media-query($on-laptop) {
     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     padding-right: $spacing-unit / 2;
     padding-left: $spacing-unit / 2;
   }
 }
 
 
 
 /**
  * Clearfix
  */
 %clearfix:after {
   content: "";
   display: table;
   clear: both;
 }
 
 
 
 /**
  * Icons
  */
 
 .svg-icon {
     width: 22px;
     height: 16px;
     display: inline-block;
     fill: #{$grey-color};
     padding-right: 5px;
     vertical-align: text-top;
 }
 
 .social-media-list {
   li + li {
     padding-top: 5px;
   }
 }
 
 
 
 /**
  * Tables
  */
 table {
   margin-bottom: $spacing-unit;
   width: 100%;
   text-align: $table-text-align;
   color: lighten($text-color, 18%);
   border-collapse: collapse;
   border: 1px solid $grey-color-light;
   tr {
     &:nth-child(even) {
       background-color: lighten($grey-color-light, 6%);
     }
   }
   th, td {
     padding: ($spacing-unit / 3) ($spacing-unit / 2);
   }
   th {
     background-color: lighten($grey-color-light, 3%);
     border: 1px solid darken($grey-color-light, 4%);
     border-bottom-color: darken($grey-color-light, 12%);
   }
   td {
     border: 1px solid $grey-color-light;
   }
 }
 










/**
 * Site header
 */
.site-header {
  font: 1.0*$base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.95;

  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;

  background-color: $background-color;
  
  z-index: 1000;
  //position:fixed;
  // Positioning context for the mobile navigation icon
  //position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 0.5*$base-font-weight;
  line-height: $base-line-height * $base-font-size * 2.5;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: #000;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.5;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  font:  $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  border-top: 2px solid $grey-color-light;
  padding: $spacing-unit 0;
}

// .footer-heading {
//   @include relative-font-size(1.125);
//   margin-bottom: $spacing-unit / 2;
// }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

// .footer-col-wrapper {
//   @include relative-font-size(0.9375);
//   color: $grey-color;
//   margin-left: -$spacing-unit / 2;
//   @extend %clearfix;
// }

// .footer-col {
//   float: center;
//   margin-bottom: $spacing-unit / 2;
//   padding-left: $spacing-unit / 2;
// }

// .footer-col-1 {
//   width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//   width:         calc(35% - (#{$spacing-unit} / 2));
// }

.footer-col-2 {
  float: center;
}

// .footer-col-2 {
//   width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//   width:         calc(20% - (#{$spacing-unit} / 2));
// }

// .footer-col-3 {
//   width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//   width:         calc(45% - (#{$spacing-unit} / 2));
// }

// @include media-query($on-laptop) {
//   .footer-col-1,
//   .footer-col-2 {
//     width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//     width:         calc(50% - (#{$spacing-unit} / 2));
//   }

//   .footer-col-3 {
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }

// @include media-query($on-palm) {
//   .footer-col {
//     float: none;
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }



/**
 * Page content
 */
.page-content {
  padding: 2*$spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(1.625);
}

.post-list-heading {
  @include relative-font-size(1.625);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.0);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h3 {
    @include relative-font-size(1.125);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}





/*
my custom
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.narrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94%
}



// /** 
//  * Portfolio grid **********************************************************
// */
// // Nicolas Gallagher's micro clearfix hack
// // http://nicolasgallagher.com/micro-clearfix-hack/
// .clearfix:before,
// .clearfix:after {
// content: " ";
// display: table;
// }
// .clearfix:after {
// clear: both;
// }
// .project {
// width: 33.33%;
// height: 250px;
// float: left;
// vertical-align: middle;
// box-sizing: border-box;
// padding: 10px;
// }
// .thumbnail{
// width: 100%;
// height: 230px;
// overflow: hidden;
// }
// .thumbnail img{
// width: 500px;
// height: auto;
// position: relative;
// left: -25%;
// top: -5%;
// }
// .thumbnail a{
// float: left;
// position: relative;
// width: 100%;
// height: 230px;
// }
// .thumbnail a span {
// display: none;
// position: absolute;
// top: 0;
// left: 0;
// bottom: 0;
// right: 0;
// background: rgba(0,0,0,0.4);
// color: $grey-color-light;
// padding: 40px;
// text-align: center;
// }
// .thumbnail a:hover span {
// display: block;
// }
// /** 
//  * Portfolio pages **********************************************************
// */
// .blankbox{
// background: $background-color;
// }
// .img_row{
// height: 0.3*$content-width;
// width: 100%;
// overflow: hidden;
// box-sizing: border-box;
// padding: 0.01*$content-width;
// }
// .col{ 
// width: 100%;
// height: 100%;
// float: left;
// object-fit: cover;
// box-sizing: border-box;
// padding: 5px;
// }
// .right{
// float: right;
// }
// .left{
// float: left;
// }
// .one {
// width:33.33%;
// }
// .two {
// width: 66.66%;
// }
// .three{
// width: 100%;
// }
// .caption{
// height: 100%;
// color: $text-color;
// text-align: center;
// vertical-align: middle;
// font-size: $base-font-size;
// }





/*
//////////////// COLLAPSIBLES
*/


.button {
  font: $base-font-family;
}

.collapsible {
  font: $base-font-weight #{$body-font-size}/#{$base-line-height} $base-font-family;
  background-color: $background-color;
  color: $grey-color-dark;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-left: 4px solid $background-color;
  font-size: $body-font-size*1.0;
}

.active, .collapsible:hover {
  border-left: 4px solid $grey-color-light;
}

.collapsible:after {
  content: '\002B';
  color:  $grey-color-dark;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-top:  0px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: $body-font-size*0.875;
  background-color: $grey-color-light;
}

.cp {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}

.MathJax {
  font-size: 1em;
}







.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}