---
layout: default
---

{% include mathjax.html %}

<article class="post">

  <header class="post-header">
    <h3 class="post-title">{{ page.title | escape }}</h3>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- if page.updated -%} 
        last update: {{ page.updated | date: date_format  }}
        {%- endif -%}
      </time>
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>




<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  </script>
  